<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<header>
    <div id="Banner-home-img">
        <a href="/"><img src="/images/logo-mercado-liebre.svg" alt="logo-mercado-liebre"></a>
<p>
        <img height="64" src="/images/img-home-banner.jpg" alt="img-home-banner">
    </div>
<section id="button-search">
    <input type="search" name="busquedaproducto" size="7" maxlength="5">
<input type="submit" value="Buscar producto">
</section>
</p>

<section id="Navegaciones">
    <p>
        Comprá en cuotas y sin tarjeta de credito
    </p>
    <article id="Navegaciones-barras">   
        <li><a href="">Ofertas</a></li>
        <li><a href="">Tiendas Oficiales</a></li>
        <li><a href="">Vender</a></li>
        <li><a href="">Ayuda</a></li>
        <p></p>
        <li><a href="">Creá tu cuenta</a></li>
        <li><a href="">Ingresá</a></li>
        <li><a href="">Mis compras</a></li></article>

</section>

</header>
<main>
 <section id="Cafetera">
    <h3>Basado en tu última visita</h3>
    <div>
        <img width="250" height="250" src="/images/img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex">
    </div>
    <article>
        <p>$6.770</p>
        <p> 40% OFF</p>
        <h4>Cafetera Moulinex</h4>
    </article>
</section>
    <section id="MacBook">
        <div>
            <img width="250" height="250" src="/images/img-macbook-pro-2019.jpg" alt="img-macbook-pro-2019">
        </div>
        <article>       
            <p>$230.000</p>
            <p>20% off</p>
            <h4>MacBook Pro 2019</h4>
        </article>
 
    </section>
    <section id="Samsung">
      <div>
        <img width="250" height="250" src="/images/img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy-s10"> 
    </div>
    <article>
        <p>$70.500</p>
        <p>10% off</p>
        <h4>Samsung Galaxy S10</h4>
    </article>
    </section>
    <section id="SmarTv">
        <div>
            <img  width="250" height="250" src="/images/img-tv-samsung-smart.jpg" alt="">
        </div>
        <article>
            <p>$23.200</p>
            <p>5% off</p>
            <h4>SmartTv Samsung 43</h4>
        </article>

    </section>
</main>

<footer>
    <section id="Footer">
        <h4>
            <li> Pagá con tarjeta o en efectivo</li>
        </h4>
        <p>
            Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!
        </p>
        <h4> 
            <li>Envío gratis desde $ 2.500</li>
        </h4>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
            <h4>
                <li>Seguridad, de principio a fin</li>
            </h4>
            <p>
                ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.  
            </p>
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </section>
</footer>

</html>